{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
{% set base_url = page.url %}
	
	{% block content %}
		<ul class="article-list">
			{% for child in collection %}
				<li>
					{% include 'partials/blog-post.html.twig' with {'page':child, 'truncate':true} %}
				</li>
			{% endfor %}
		</ul>
		{% if config.plugins.pagination.enabled and collection.params.pagination %}
		<style type="text/css">.pagination {text-align: left;padding-left:45px;}</style>
		{% include 'partials/pagination.html.twig' with {'pagination':collection.params.pagination} %}
		{% endif %}
	{% endblock %}
{% endembed %}